/**
 * HTML Resets
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Styling
 */

html {
  height: 100%;
}

body {
  background: url(images/background.png) repeat 0em 0em;
  font-family: 'Tahoma', sans-serif;
  font-size: 12px;
  height: 100%;
}

a { color: #1E1E1E; text-decoration: none; }
a:hover { color: #000000; }

#copyright a { color: #3c3c3c; font-weight: bold; text-decoration: none; }

/* Containers */
#container {
  min-height: 100%;
  margin: 0 auto;
  min-width: 800px;
  max-width: 60%;
}

#container.logincontainer {
  max-width: 400px;
  min-width: 400px;
  padding-top: 150px;
}

#application {
  background: url(images/bg.png) repeat-x #e1e1e1;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px #111;
  min-height: 250px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 1px 5px 0px #111;
  -moz-box-shadow: 0px 1px 5px 0px #111;
}

#container.logincontainer #application {
  background: #e1e1e1;
  min-height: 100px;
}

#recaptcha_widget_div {
  margin-left: 5%;
}

/* Header */

header {
  height: 95px;
}

#logo {
  background: url(images/logo.png) no-repeat center;
  float: left;
  height: 95px;
  text-indent: -9999px;
  width: 166px;
}

#userinfo {
  float: right;
  margin-top: 20px;
}

#userinfo img {
  border-radius: 3px;
  box-shadow: 0px 1px 4px 0px #000;
  float: left;
  margin-right: 10px;
  background: #fff;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 1px 4px 0px #000;
  -moz-box-shadow: 0px 1px 4px 0px #000;
}

#userinfo .intro {
  display: inline;
  color: #3c3c3c;
  float: right;
  line-height: 18px;
  margin-top: 2px;
  font-size: 11px;
}

#userinfo .intro a {
  /* color: #bababa; */
  font-weight: bold;
}

/* Primary navigation */

nav#primary {
  border-bottom: 1px solid #3b3b3b;
  height: 80px;
}

nav#primary ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav#primary ul li a {
  color: #595959;
  display: block;
  font-size: 11px;
  height: 70px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  width: 95px;
}

nav#primary ul li.current a {
  color: #1a88e9;
}

nav#primary ul li.current .icon {
  background-position: left center;
}

nav#primary .icon {
  background-repeat: no-repeat;
  background-position: right center;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px 0;
  width: 25px;
}

.icon.dashboard { background-image: url(images/dashboard.png) }
.icon.chart { background-image: url(images/chart.png) }
.icon.tables { background-image: url(images/tables.png) }
.icon.anchor { background-image: url(images/anchor.png) }
.icon.pencil { background-image: url(images/pencil.png) }
.icon.gallery { background-image: url(images/gallery.png) }
.icon.modal { background-image: url(images/modal.png) }
.icon.newspaper { background-image: url(images/newspaper.png) }

.badge {
  background: url(images/badge.png) no-repeat;
  color: #fff;
  display: block;
  font-family: "Tahoma";
  font-size: 11px;
  height: 25px;
  padding-top: 5px;
  position: absolute;
  top: 10px;
  left: 50px;
  width: 25px;
}

input:focus {
  outline: none;
}

/* Secondary navigation */

nav#secondary {
  background: #3b3b3b;
  border-top: 1px solid #5f5f5f;
  height: 34px;
}

nav#secondary ul li {
  float: left;
  list-style: none;
}

nav#secondary ul li a {
  background: url(images/tab_inactive.png) repeat-x #484848;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #f4f4f4;
  display: block;
  font-size: 11px;
  margin-left: 7px;
  margin-top: 7px;
  padding: 8px 20px;
  text-decoration: none;
  text-shadow: 0 -1px 0 #282828;
}

nav#secondary ul li.current a {
  background: #e1e1e1;
  color: #282828;
  text-shadow: 0 1px 0 #fff;
}

/* Content */

#content {
  padding: 25px;
  padding-top: 0;
}

/* Footer */

#copyright {
  color: #3a3a3a;
  font-size: 11px;
  line-height: 50px;
  text-align: right;
  text-shadow: 0 1px 0 #fff;
}

/* Search */

#search {
  background: url(images/search.png) 6px 6px no-repeat #fff;
  border: 1px solid #c7c7c7;
  border-radius: 20px;
  box-shadow: 0 1px 0 #fff;
  color: #282828;
  float: right;
  margin: 15px;
  margin-top: 27px;
  padding: 4px 10px;
  padding-left: 20px;
  width: 100px;

  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-box-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 #fff;
}

#livesearch {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px #000;
  color: #282828;
  display: block;
  font-size: 11px;
  line-height: 18px;
  margin-top: 5px;
  max-height: 400px;
  overflow: auto;
  padding: 5px 0;
  position: absolute;
  z-index: 99;

  -moz-box-shadow: 0 1px 2px #000;
  -webkit-box-shadow: 0 1px 2px #000;
}

#livesearch ul li a {
  color: #282828;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

#livesearch ul li a:hover {
  background: url(images/search_bg.png) repeat-x;
  color: #fff;
}

#livesearch strong {
  font-weight: bold;
  margin-left: 10px;
}

/* Columns */

.column { width: 49% }
.column.left { float: left }
.column.right { float: right }
.column.third { width: 32% }
.column.twothird { width: 66% }

/* Forms */

form section {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #eee;
  padding: 13px 0;
}

form section:first-child { border-top: none }
form section:last-child { border-bottom: none }

form section > div {
  color: #404040;
  font-size: 11px;
  margin-left: 35%;
  position: relative;
}

form section > label {
  color: #404040;
  float: left;
  font-size: 10px;
  font-weight: bold;
  margin-right: 5%;
  margin-top: 2px;
  text-transform: uppercase;
  width: 30%;
}

form section label small {
  color: #999;
  display: block;
  font-size: 11px;
  font-weight: normal;
  line-height: 13px;
  margin-top: 3px;
  text-transform: none;
}

form input[type="text"], form input[type="password"], form textarea {
  border-radius: 3px;
  border: 1px solid #c9c9c9;
  color: #404040;
  font-size: 11px;
  height: 28px;
  margin-bottom: 3px;
  padding: 0 6px;
  width: 95%;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

form input.error { color: #840004 }
form input.xsmall { width: 10% }
form input.small { width: 20% }
form input.medium { width: 40% }
form input.large { width: 69% }

form textarea {
  height: 100px;
  padding-top: 4px;
}

form textarea.wysiwym { background: #fff }
form input:focus, form textarea:focus { outline: none }
textarea.wysiwyg { width: 99% }

label.radio, label.checkbox {
  color: #404040;
  font-size: 11px;
  padding: 3px 0;
}

section div label.error {
  top: 9px;
  color: #840004;
  position: absolute;
  right: 6px;
}

/* Select boxes */

select {
  cursor: pointer;
  width: 100%;
}

.cmf-skinned-select {
  background: url(images/select.png) right no-repeat;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  box-shadow: 0 1px 2px #ccc;
  height: 28px;
  margin-left: 0;
  padding: 5px;

  -moz-border-radius: 3px;
  -moz-box-shadow: 0 1px 2px #ccc;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px #ccc;
}

.cmf-skinned-text {
  font-size: 11px;
  margin-left: 0;
  padding-left: 9px;
  padding-top: 7px;
}

/* Notifications */

#notifications {
  background: #fafafa;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 99;

  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
}

#notifications li {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #fff;
  color: #696969;
  display: none;
  font-family: sans-serif;
  font-size: 11px;
  line-height: 22px;
  padding: 9px 30px 9px 43px;
  position: relative;
  width: 250px;
}

#notifications li:hover {
  background: url(images/notification_bg.png) repeat-x #156aa4;
  background-color: #166ba5;
  border-top: 1px solid #3a6584;
  color: #fff;
  cursor: pointer;
}

#notifications li:hover strong { color: #fff }
#notifications li:first-child { border-top: none }
#notifications li strong { color: #333 }

#notifications li:last-child {
  border-bottom: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
}

#notifications .image {
  display: block;
  height: 16px;
  left: 14px;
  position: absolute;
  top: 11px;
  width: 16px;
}

#notifications .information { background-image: url(images/information.png) }
#notifications .warning { background-image: url(images/exclamation.png) }
#notifications .error { background-image: url(images/error.png) }
#notifications .success { background-image: url(images/success.png) }
#notifications .saved { background-image: url(images/saved.png) }

#notifications .tag {
  background: #c9c9c9;
  border-radius: 20px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  line-height: 12px;
  padding: 2px 7px;
  position: absolute;
  right: 14px;
  top: 11px;

  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}


/* AKill Table */
#aid { cursor: pointer; }


/* Styles */

h1, h2, h3, h4, h5, h6 {
  color: #282828;
  line-height: 32px;
}

h1 {
  font-size: 20px;
  text-shadow: 0 1px 0 #fff;
}

h2 {
  font-size: 18px;
  margin: 16px 0;
  text-shadow: 0 1px 0 #fff;
}

h3 { font-size: 16px }
h4 { font-size: 14px }
h5 { font-size: 12px }

p { text-align: justify }

p, blockquote, pre {
  color: #282828;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 16px;
}

blockquote {
  border-left: 4px solid #999;
  font-style: italic;
  margin-left: 16px;
  padding-left: 16px;
  text-align: justify;
}

pre, .hlight {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: monospace;
  overflow: auto;
  padding: 16px;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

strong { font-weight: bold }
em { font-style: italic }

#content ul, ol {
  color: #282828;
  line-height: 16px;
  margin: 0 24px 16px 24px;
}

#content ul { list-style: disc }
#content ol { list-style: decimal }
#content li > ul, #content li > ol { margin: 0 24px }
#content li > ul { list-style: circle }

table {
  background: #fff;
  border: 1px solid #ccc;
  color: #282828;
  margin-bottom: 16px;
  padding: 5px;
  width: 100%;
}

thead, th {
  background: #eee;
  font-weight: bold;
  text-align: left;
}

tr { border-bottom: 1px solid #ddd }

td, th {
  border-right: 1px solid #ddd;
  padding: 10px;
}

.clear { clear: both }
a:focus { outline: none }

/**
 * Memos
 */
.memo {
	position: relative;
	border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #EEEEEE;
    clear: both;
}

.heading {
	border: none;
}


.memo div.memofrom {
	width: 120px;
	float: left;
	padding: 2em 0;
}

.memo div.memodate {
	width: 200px;
	float: left;
	padding: 2em 0;
}

.memo div.memostatus {
	width: 100px;
	float: left;
	padding: 2em 0;
}

.memo div.memoactions {
	float: right;
	padding: 2em 0;
}

/**
 * Buttons
 */

.button {
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #d4d4d4;
    margin: 0;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    font:11px/normal sans-serif;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    /*background-clip: padding-box;*/ /* commented out due to Opera 11.10 bug */
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.button:hover,
.button:focus,
.button:active,
.button.active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #fff;
    background-color: #3C8DDE;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.button:active,
.button.active {
    border-color: #2a65a0;
    border-bottom-color: #3884CF;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}

.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.button.icon:before {
    content: "";
    position: relative;
    top: 1px;
    float:left;
    width: 12px;
    height: 12px;
    margin: 0 0.75em 0 -0.25em;
    background: url(images/gh-icons.png) 0 99px no-repeat;
}

.button.arrowup.icon:before { background-position: 0 0; }
.button.arrowup.icon:hover:before,
.button.arrowup.icon:focus:before,
.button.arrowup.icon:active:before { background-position: -12px 0; }

.button.arrowdown.icon:before { background-position: 0 -12px; }
.button.arrowdown.icon:hover:before,
.button.arrowdown.icon:focus:before,
.button.arrowdown.icon:active:before { background-position: -12px -12px; }

.button.arrowleft.icon:before { background-position: 0 -24px; }
.button.arrowleft.icon:hover:before,
.button.arrowleft.icon:focus:before,
.button.arrowleft.icon:active:before { background-position: -12px -24px; }

.button.arrowright.icon:before { float:right; margin: 0 -0.25em 0 0.5em; background-position: 0 -36px; }
.button.arrowright.icon:hover:before,
.button.arrowright.icon:focus:before,
.button.arrowright.icon:active:before { background-position: -12px -36px; }

.button.approve.icon:before { background-position: 0 -48px; }
.button.approve.icon:hover:before,
.button.approve.icon:focus:before,
.button.approve.icon:active:before { background-position: -12px -48px; }

.button.add.icon:before { background-position: 0 -288px; }
.button.add.icon:hover:before,
.button.add.icon:focus:before,
.button.add.icon:active:before { background-position: -12px -288px; }

.button.remove.icon:before { background-position: 0 -60px; }
.button.remove.icon:hover:before,
.button.remove.icon:focus:before,
.button.remove.icon:active:before { background-position: -12px -60px; }

.button.log.icon:before { background-position: 0 -72px; }
.button.log.icon:hover:before,
.button.log.icon:focus:before,
.button.log.icon:active:before { background-position: -12px -72px; }

.button.calendar.icon:before { background-position: 0 -84px; }
.button.calendar.icon:hover:before,
.button.calendar.icon:focus:before,
.button.calendar.icon:active:before { background-position: -12px -84px; }

.button.chat.icon:before { background-position: 0 -96px; }
.button.chat.icon:hover:before,
.button.chat.icon:focus:before,
.button.chat.icon:active:before { background-position: -12px -96px; }

.button.clock.icon:before { background-position: 0 -108px; }
.button.clock.icon:hover:before,
.button.clock.icon:focus:before,
.button.clock.icon:active:before { background-position: -12px -108px; }

.button.settings.icon:before { background-position: 0 -120px; }
.button.settings.icon:hover:before,
.button.settings.icon:focus:before,
.button.settings.icon:active:before { background-position: -12px -120px; }

.button.comment.icon:before { background-position: 0 -132px; }
.button.comment.icon:hover:before,
.button.comment.icon:focus:before,
.button.comment.icon:active:before { background-position: -12px -132px; }

.button.fork.icon:before { background-position: 0 -144px; }
.button.fork.icon:hover:before,
.button.fork.icon:focus:before,
.button.fork.icon:active:before { background-position: -12px -144px; }

.button.like.icon:before { background-position: 0 -156px; }
.button.like.icon:hover:before,
.button.like.icon:focus:before,
.button.like.icon:active:before { background-position: -12px -156px; }

.button.favorite.icon:before { background-position: 0 -348px; }
.button.favorite.icon:hover:before,
.button.favorite.icon:focus:before,
.button.favorite.icon:active:before { background-position: -12px -348px; }

.button.home.icon:before { background-position: 0 -168px; }
.button.home.icon:hover:before,
.button.home.icon:focus:before,
.button.home.icon:active:before { background-position: -12px -168px; }

.button.key.icon:before { background-position: 0 -180px; }
.button.key.icon:hover:before,
.button.key.icon:focus:before,
.button.key.icon:active:before { background-position: -12px -180px; }

.button.lock.icon:before { background-position: 0 -192px; }
.button.lock.icon:hover:before,
.button.lock.icon:focus:before,
.button.lock.icon:active:before { background-position: -12px -192px; }

.button.unlock.icon:before { background-position: 0 -204px; }
.button.unlock.icon:hover:before,
.button.unlock.icon:focus:before,
.button.unlock.icon:active:before { background-position: -12px -204px; }

.button.loop.icon:before { background-position: 0 -216px; }
.button.loop.icon:hover:before,
.button.loop.icon:focus:before,
.button.loop.icon:active:before { background-position: -12px -216px; }

.button.search.icon:before { background-position: 0 -228px; }
.button.search.icon:hover:before,
.button.search.icon:focus:before,
.button.search.icon:active:before { background-position: -12px -228px; }

.button.mail.icon:before { background-position: 0 -240px; }
.button.mail.icon:hover:before,
.button.mail.icon:focus:before,
.button.mail.icon:active:before { background-position: -12px -240px; }

.button.move.icon:before { background-position: 0 -252px; }
.button.move.icon:hover:before,
.button.move.icon:focus:before,
.button.move.icon:active:before { background-position: -12px -252px; }

.button.edit.icon:before { background-position: 0 -264px; }
.button.edit.icon:hover:before,
.button.edit.icon:focus:before,
.button.edit.icon:active:before { background-position: -12px -264px; }

.button.pin.icon:before { background-position: 0 -276px; }
.button.pin.icon:hover:before,
.button.pin.icon:focus:before,
.button.pin.icon:active:before { background-position: -12px -276px; }

.button.reload.icon:before { background-position: 0 -300px; }
.button.reload.icon:hover:before,
.button.reload.icon:focus:before,
.button.reload.icon:active:before { background-position: -12px -300px; }

.button.rss.icon:before { background-position: 0 -312px; }
.button.rss.icon:hover:before,
.button.rss.icon:focus:before,
.button.rss.icon:active:before { background-position: -12px -312px; }

.button.tag.icon:before { background-position: 0 -324px; }
.button.tag.icon:hover:before,
.button.tag.icon:focus:before,
.button.tag.icon:active:before { background-position: -12px -324px; }

.button.trash.icon:before { background-position: 0 -336px; }
.button.trash.icon:hover:before,
.button.trash.icon:focus:before,
.button.trash.icon:active:before { background-position: -12px -336px; }

.button.user.icon:before { background-position: 0 -360px; }
.button.user.icon:hover:before,
.button.user.icon:focus:before,
.button.user.icon:active:before { background-position: -12px -360px; }

.button.primary {
    font-weight: bold;
}

.button.danger {
    color: #900;
}

.button.danger:hover,
.button.danger:focus,
.button.danger:active {
    border-color: #b53f3a;
    border-bottom-color: #a0302a;
    color: #fff;
    background-color: #dc5f59;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630));
    background-image: -moz-linear-gradient(#dc5f59, #b33630);
    background-image: -o-linear-gradient(#dc5f59, #b33630);
    background-image: linear-gradient(#dc5f59, #b33630);
}

.button.danger:active,
.button.danger.active {
    border-color: #a0302a;
    border-bottom-color: #bf4843;
    background-color: #b33630;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b33630), to(#dc5f59));
    background-image: -moz-linear-gradient(#b33630, #dc5f59);
    background-image: -o-linear-gradient(#b33630, #dc5f59);
    background-image: linear-gradient(#b33630, #dc5f59);
}

.button.pill {
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
}


.button.disable {
    opacity: 0.5;
}

.button.big {
    font-size: 14px;
}

.button.big.icon:before { top: 0; }

.button-group {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.button + .button,
.button + .button-group,
.button-group + .button,
.button-group + .button-group {
    margin-left: 15px;
}

.button-group li {
    float: left;
    padding: 0;
    margin: 0;
}

.button-group .button {
    float: left;
    margin-left: -1px;
}

.button-group > .button:not(:first-child):not(:last-child),
.button-group li:not(:first-child):not(:last-child) .button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.button-group > .button:first-child,
.button-group li:first-child .button {
    margin-left: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button-group > .button:last-child,
.button-group li:last-child > .button {
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.button-group.minor-group .button {
    border: 1px solid #d4d4d4;
    text-shadow: none;
    background-image: none;
    background-color: #fff;
}

.button-group.minor-group .button:hover,
.button-group.minor-group .button:focus,
.button-group.minor-group .button:active {
    background-color: #599bdc;
}

.button-group.minor-group .button:active,
.button-group.minor-group .button.active {
    background-color: #3072b3;
}

.button-group.minor-group .button.icon:before {
    opacity: 0.8;
}

.button-container .button,
.button-container .button-group {
    vertical-align: top;
}

/**
 * Visual Styles
 */
.visualize { border: 1px solid #ccc; position: relative; background: #fafafa; margin-bottom: 32px; border-radius: 5px;}
.visualize canvas { position: absolute; }
.visualize ul,.visualize li { margin: 0; padding: 0;}

/*table title, key elements*/
.visualize .visualize-info { padding: 5px 8px; font-size: 11px; position: absolute; top: 0; left: 0; opacity: .8; }
.visualize .visualize-title { display: block; color: #333; margin-bottom: 3px;  font-size: 1.1em; }
.visualize ul.visualize-key { list-style: none;  }
.visualize ul.visualize-key li { list-style: none; float: left; margin-right: 10px; padding-left: 10px; position: relative;}
.visualize ul.visualize-key .visualize-key-color { width: 6px; height: 6px; left: 0; position: absolute; top: 50%; margin-top: -3px;  }
.visualize ul.visualize-key .visualize-key-label { color: #000; }

/*pie labels*/
.visualize-pie .visualize-labels { list-style: none; }
.visualize-pie .visualize-label-pos, .visualize-pie .visualize-label { position: absolute;  margin: 0; padding:0; }
.visualize-pie .visualize-label { display: block; color: #fff; font-weight: bold; font-size: 1.0em; }
.visualize-pie-outside .visualize-label { color: #000; font-weight: normal; }

/*line,bar, area labels*/
.visualize-labels-x,.visualize-labels-y { position: absolute; left: 0; top: 0; list-style: none; }
.visualize-labels-x li, .visualize-labels-y li { position: absolute; bottom: 0; }
.visualize-labels-x li span.label, .visualize-labels-y li span.label { position: absolute; color: #777; font-size: 11px; }
.visualize-labels-x li span.line, .visualize-labels-y li span.line {  position: absolute; border: 0 solid #ccc; }
.visualize-labels-x li { height: 100%; }
.visualize-labels-x li span.label { top: 100%; margin-top: 5px; text-align: center;}
.visualize-labels-x li span.line { border-left-width: 1px; height: 100%; display: block; }
.visualize-labels-x li span.line { border: 0;} /*hide vertical lines on area, line, bar*/
.visualize-labels-y li { width: 100%;  }
.visualize-labels-y li span.label { right: 100%; margin-right: 5px; display: block; width: 100px; text-align: right; }
.visualize-labels-y li span.line { border-top-width: 1px; width: 100%; }
.visualize-bar .visualize-labels-x li span.label { width: 100%; text-align: center; }

.visualize ul {
  list-style: none !important;
  margin-left: 0 !important;

